<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>All Authors</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <main>
    <div class="top-block">
      <h1>All Authors</h1>
    </div>
    <p class="contribute">All the authors who have contributed to My Blog are:</p>
    <div class="author-list">
      <ul>
          {% for author in authors %}
                <li> {{ author }} </li>
          {% endfor %}
      </ul>
    </div>
    <div class="bottom-block"></div>
  </main>

</body>
</html>
